*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url('/wood-411643_1920.jpg');
    background-position: center;
    background-size: cover;
    height: 200vh;
}
html{
    font-size: 62.5%;
}
.navbar{
    background-color: black;
}
.pizzaimgnav{
    height: 50px;
    cursor: default;
}
.nav-link{
    font-size: 2rem;
}
.banner{
    margin-top: 6.64rem;
    font-size: 2rem;
}
.local{
    height: 475px;
    background-position: center;
    background-size: cover;
}
.localtext{
    font-size: 3rem;
}
.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}